[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background: url(citysky.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    /* width:1920px !important; */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a.logoLink
{
    background: url(logo-cabinet-white.png) no-repeat top left;
     display: block;
     text-indent: -9999px; /* hides the link text */
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    box-shadow: 10px 10px 10px black;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 26px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main, .main_div {
    transition: margin-left .5s, width 2s, left 2s, top 1s;
    padding: 10px;
    margin-right:250px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:50px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    -webkit-box-shadow: 5px 5px 10px #363636;
    box-shadow: 5px 5px 10px #363636;
    border-radius: 4px;
    /*
    min-height:760px;
    max-height:100%;
    */
    min-height:460px;
    max-height:730px;
    overflow:auto;
}

.inner_content {
    width:1380px !important;
    height:700px !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenavRight {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px;
    right: 0;
    bottom:0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.toToDates{
    padding-right:10px;
}

.disabled {
    cursor:not-allowed;
    pointer-events:none;
}

a.disabled {
    color: #AAAAAA;
    cursor: not-allowed;
    pointer-events: none;
}

.lista_documente {
    position:relative;
    top:0;
    bottom:0;
    left:0;
    width:320px;
    /* height:700px; */
    background-color:white;
    margin: 10px;
}

.main_documente{
    background-color:white;
    overflow-y:auto;
    height:680px;
    position:relative;
    border: 1px solid lightgray;
    margin-top: 7px;
    border-radius: 5px;
}

.drop-box{
    border: 2px dashed lightsalmon;
    color:lightsalmon;
    text-align:center;
    vertical-align: middle;
    width:100%;
    height:100px;
    margin-top:5px;
}

/* tree view */
.treeview_tbody {
    display:block;
    overflow-y:auto;
    overflow-x:auto;
    height:250px;
}

.treeview_thead{
    display:block;
    /*table-layout:fixed;*/
}

.treeview_collapse {
    width:15px;
    background-image: url('../Content/images/treeview/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    background-position: -36px -17px;
    display:inline-block;
    cursor:pointer;
}
.expand {
    width: 15px;
    background-image: url('../Content/images/treeview/ui-icons_454545_256x240.png');
    background-repeat: no-repeat;
    background-position: -50px -17px;
    display: inline-block;
    cursor:pointer;
}    
.treeview ul{
    font:14px Arial, Sans-Serif;
    margin:0px;
    padding-left:20px;
    list-style:none;
}
.treeview > li > a {
    font-weight:bold;
}
.treeview li{
               
}
.treeview li a{
    padding:4px;
    font-size:12px;
    display:inline-block;
    text-decoration:none;
    width:auto;
}
/* end tree view */

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

.label_casco{
    min-height: 20px;
    padding-left: 25px !important;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    margin-right: 20px;
    background-color: green;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight:bold;
    font-size:14px;
    color:white;
    border-radius: 4px;
}

.label_rca{
    min-height: 20px;
    padding-left: 25px !important;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    margin-right: 20px;
    background-color: red;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight:bold;
    font-size:14px;
    color:white;
    border-radius: 4px;
}

.label_a{
    display: block ;
    padding: 3px 20px;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    font-size:14px;
}
.label_a:hover,
.label_a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #446e9b;
}

.checkOverImage{
    position: absolute; bottom: 10px; right: 13px;
}

.checkOverImageBadge{
    position: absolute; bottom: 3px; left: 13px;
    font-size: 20px; color:darkseagreen;
}

#thumbScroller{
    position:relative;
    margin:auto;
    width:547px;
    overflow-x:auto;
    height:192px;
}

#thumbScrollerContent{
    height:172px;
    margin:auto;
}

#thumbScrollerThumb{
    position:relative; 
    width:130px;
    height:160px;
    border:1px solid lightgray; 
    margin:3px; 
    padding:5px;float:left;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.checkForImport{
}

.docsRightMenu{
    height: 215px;
    width: 40px;
    top: 210px;
    background: gray;
    display: inline-block;
    position: absolute;
    right: 16px;
    margin: auto;
    float: right;
    border-radius: 2px;
    box-shadow: 5px 5px 5px black;
    opacity: 0.9;
    padding:4px;
    overflow-y:hidden;
}

.docsRightMenuButton{
    border-radius: 50%;
    background-color: red;
    color: wheat;
    text-align: center;
    margin: auto;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    font-size: 15pt;
    box-shadow: 3px 3px 3px black;
    cursor:pointer;
    margin-top:5px;
    margin-bottom:10px;
}

.docsDetails{
    position:absolute;
    width:100%;
    bottom:0;
    height:240px;
    border:1px solid lightgray;
    border-radius: 4px; 
    padding:10px;
    display:none; 
    margin-top:5px;
    box-shadow: 3px 3px 3px black;
    opacity: 0.9;
    background-color:white;
}

.grad_tab {
    background: #e3eded; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e3eded, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e3eded, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e3eded, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e3eded, white); /* Standard syntax */
    border-bottom:0px solid transparent;
}

.grad_tab_avizat {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #e3eded); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #e3eded); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #e3eded); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #e3eded); /* Standard syntax */
    border-bottom:0px solid transparent;
}

.grad_tab_neavizat {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #f8eeee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #f8eeee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #f8eeee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #f8eeee); /* Standard syntax */
    border-bottom:0px solid transparent;
}

.calitateSocietate{
    display:flex;
    position:absolute;
    top: 100px;
    right:250px;
    width:750px;
    background-color:transparent;
    height:45px;
    padding:10px;
    text-align:right;
    vertical-align:middle;
    align-items:center;
}

.infoNumarDosar{
    display:flex;
    position:absolute;
    top: 100px;
    right:250px;
    width:750px;
    background-color:transparent;
    height:45px;
    padding:10px;
    text-align:right;
    vertical-align:middle;
    align-items:center;
}

.badgeDosar{
    max-width:280px;
    border-radius: 5px;
    opacity: 0.9;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-right: 20px;
}

.badgeDosarAvizat{
    max-width:280px;
    background-color: darkgreen;
    border-radius: 5px;
    opacity: 0.9;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-right: 20px;
    color: white;

    /*
    background: darkgreen; 
    background: -webkit-linear-gradient(left, #e3eded, darkgreen, #e3eded); 
    background: -o-linear-gradient(right, #e3eded, darkgreen, #e3eded); 
    background: -moz-linear-gradient(right, #e3eded, darkgreen, #e3eded); 
    background: linear-gradient(to right, #e3eded, darkgreen, #e3eded); 
    */
}

.badgeDosarNeAvizat{
    max-width:280px;
    background-color: red;
    border-radius: 5px;
    opacity: 0.9;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-right: 20px;
    color: white;
    /*
    background: red; 
    background: -webkit-linear-gradient(left, #f8eeee, red, #f8eeee); 
    background: -o-linear-gradient(right, #f8eeee, red, #f8eeee); 
    background: -moz-linear-gradient(right, #f8eeee, red, #f8eeee); 
    background: linear-gradient(to right, #f8eeee, red, #f8eeee); 
    */
}