@model socisaWeb.ImportDosarView
@{
    ViewBag.Title = "Import dosare";
    //Layout = "~/Views/Shared/_LayoutImportDosare.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <!--
    <div id="main" style="background-color:white;" ng-controller="DosareImportController" ng-cloak>
    @Html.Label("", new { data_ng_init = String.Format("model.ImportDates = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.ImportDates)) })
    -->
        <div class="inner_content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav">
                            <li class="" ng-show="HasHtml.indexOf('mainDosareImportDashboard') > -1">
                                <div class="docsRightMenuButton" ng-click="ToggleDiv('mainDashboard', false, null)">&#9668;</div>
                            </li>
                            <li><a href="#" ng-click="toggleDiv()">Import</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Istoric <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" data-ng-init="@String.Format("model.ImportDates = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.ImportDates))">
                                    <li ng-repeat="data in model.ImportDates"><a href="#" ng-click="GetDosareFromLog(data)">{{data}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div ng-show="(result.Status == true || result.Status == false) && showMessage" ng-class="result.Status == false ? 'alert alert-danger' : 'alert alert-success'">
                <button type="button" class="close" ng-click="showMessage = false">&times;</button>
                <strong>{{result.Status ? 'Succes!' : 'Eroare!'}}</strong><br />
                <p ng-repeat="s in result.Message.split(';')">
                    {{s}}
                </p>
            </div>

            <div id="IncarcareFisierExcel" style="border:1px solid lightgray;border-radius: 4px; padding:10px;margin-top:5px;display:none;">
                <div class="btn btn-primary" ngf-accept="'application/xlsx'" ngf-max-size="'20MB'" ngf-select="upload($file)">Incarca fisier...</div>
                <!--
            <a href="#" ng-if="model.ImportDosarView.length > 0" class="btn btn-primary" ng-click="Import()">Importa</a>
            -->
                <br />
                <div ngf-drop="upload($file)" class="drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-accept="'application/xlsx'" ngf-max-size="'20MB'"
                     ngf-pattern="'application/xlsx'">... sau Drag&Drop fisier .xlsx aici</div>
                <div ngf-no-file-drop>Functionalitatea Drag&Drop nu este suportata de browserul dumneavoastra</div>
                <p>Sunt admise doar fisiere .xlsx cu dimensiunea maxima de 20Mb!</p>
            </div>

            <div ng-show="model.ImportDosarView.length > 0" style="width:100%;overflow:auto;">
                @{ 
                    string x = String.Format("model.SocietatiRCA = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.SocietatiRCA));
                }
                <table class="table table-striped table-hover" ng-init="@x">
                    <thead>
                        <tr>
                            <!--
                        <th><input type="checkbox" id="chk_All" checked onchange="toggleChecks(this)" /></th>
                        -->
                            <th>Status</th>
                            <th>NUMAR DOSAR CASCO</th>
                            <th>NUMAR SCA</th>
                            <th>DATA SCA</th>
                            <th>NUMAR POLITA CASCO</th>
                            <th>DATA EVENIMENT</th>
                            <th>SOCIETATE CASCO</th>
                            <th>ASIGURAT CASCO</th>
                            <th>NUMAR AUTO CASCO</th>
                            <th>NUMAR POLITA RCA</th>
                            <th>SOCIETATE RCA</th>
                            <th>ASIGURAT RCA</th>
                            <th>NUMAR AUTO RCA</th>
                            <th>VALOARE DAUNA</th>
                            <th>VALOARE REGRES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.ImportDosarView">
                            <!--
                        <td><input type="checkbox" checked class="checkForImport" id="chk_{{$index}}" ng-model="item.selected" /></td>
                        -->
                            <td style="text-align:center;vertical-align:middle">
                                <img ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO" src="{{item[0].Status ? '../Content/images/ok.png' : '../Content/images/error.png'}}" width="32" height="32" data-toggle="tooltip" ng-click="EditMode(item)" data-placement="right" ng-attr-title="{{item[0].Message.split(';').join('&#13;')}}" data-original-title="{{item[0].Message.split(';').join('&#13;')}}" />
                                <span>
                                    <img src="../Content/images/save.gif" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" ng-click="Save(item)" />
                                    <img src="../Content/images/cancel.gif" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" ng-click="Cancel()" />
                                </span>
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].Dosar.NR_DOSAR_CASCO}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].Dosar.NR_DOSAR_CASCO" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].Dosar.NR_SCA}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].Dosar.NR_SCA" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-init="item[1].Dosar.DATA_SCA = (item[1].Dosar.DATA_SCA | dateFilter | date : DATE_FORMAT)" ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].Dosar.DATA_SCA}}</span>
                                <div class="input-group" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO">
                                    <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                    <input type="text" class="form-control input-sm" style="width:100px;" ng-model="curDosar[1].Dosar.DATA_SCA" jqdatepicker />
                                </div>                            
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].Dosar.NR_POLITA_CASCO}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].Dosar.NR_POLITA_CASCO" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-init="item[1].Dosar.DATA_EVENIMENT = (item[1].Dosar.DATA_EVENIMENT | dateFilter | date : DATE_FORMAT)" ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].Dosar.DATA_EVENIMENT}}</span>
                                <div class="input-group" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO">
                                    <span class="input-group-addon"><img src="~/Content/calendar.gif" /></span>
                                    <input type="text" class="form-control input-sm" style="width:100px;" ng-model="curDosar[1].Dosar.DATA_EVENIMENT" jqdatepicker />
                                </div>
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].SocietateCasco.DENUMIRE_SCURTA}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].SocietateCasco.DENUMIRE_SCURTA" readonly ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].AsiguratCasco.DENUMIRE}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].AsiguratCasco.DENUMIRE" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>   
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].AutoCasco.NR_AUTO}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].AutoCasco.NR_AUTO" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].Dosar.NR_POLITA_RCA}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].Dosar.NR_POLITA_RCA" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].SocietateRca.DENUMIRE_SCURTA}}</span>
                                <select class="form-control input-sm" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" ng-model="curDosar[1].Dosar.ID_SOCIETATE_RCA">
                                    <option ng-repeat="soc in model.SocietatiRCA" ng-value="soc.ID" ng-selected="soc.ID == item[1].Dosar.ID_SOCIETATE_RCA">{{soc.DENUMIRE_SCURTA}}</option>
                                </select>
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].AsiguratRca.DENUMIRE}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].AsiguratRca.DENUMIRE" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].AutoRca.NR_AUTO}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].AutoRca.NR_AUTO" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].Dosar.VALOARE_DAUNA}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].Dosar.VALOARE_DAUNA" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                            <td>
                                <span ng-show="editMode == 0 || curDosar[1].Dosar.NR_DOSAR_CASCO != item[1].Dosar.NR_DOSAR_CASCO">{{item[1].Dosar.VALOARE_REGRES}}</span>
                                <input class="form-control input-sm" type="text" ng-model="curDosar[1].Dosar.VALOARE_REGRES" ng-show="editMode == 1 && curDosar[1].Dosar.NR_DOSAR_CASCO == item[1].Dosar.NR_DOSAR_CASCO" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!--
    </div>
    -->
}
