@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalii" data-toggle="tab" aria-expanded="true">DETALII DOSAR</a></li>
        <li class=""><a href="#documente" data-toggle="tab" aria-expanded="false">DOCUMENTE</a></li>
        <li class=""><a href="#mesaje" data-toggle="tab" aria-expanded="false">MESAJE</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="detalii">
            @{
                Html.RenderAction("Search", "Dosare");
            }
        </div>
        <div class="tab-pane fade" id="documente">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
        <div class="tab-pane fade" id="mesaje">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
        </div>
    </div>
}