@using socisaWeb.Helpers;
@{
    ViewBag.Title = "Dosare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" ng-style="dynaStyle" ng-controller="DosareNavigatorController">
    <div class="inner_content">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#detalii" class="grad_tab" data-toggle="tab" aria-expanded="true" id="lnkDosareDetalii" ng-click="setActiveTab('detalii')">DETALII DOSAR</a></li>
            <li class=""><a href="#documente" data-toggle="tab" aria-expanded="false" id="lnkDocumenteScanateDetalii" a-disabled="ID_DOSAR == null || ID_DOSAR == undefined || editMode > 0 || searchMode == 2" ng-click="setActiveTab('documente')">DOCUMENTE</a></li>
            <li class=""><a href="#mesaje" data-toggle="tab" aria-expanded="false" id="lnkMesajeDetalii" a-disabled="ID_DOSAR == null || ID_DOSAR == undefined || editMode > 0 || searchMode == 2" ng-click="setActiveTab('mesaje')">MESAJE</a></li>
            @{
                var ut = ((SOCISA.Models.Nomenclator)Session["CURENT_USER_TYPE"]).DENUMIRE;
                if (ut != "Regular")
                {
                    <li class=""><a href="#utilizatori" data-toggle="tab" aria-expanded="false" id="lnkUtilizatoriDetalii" a-disabled="ID_DOSAR == null || ID_DOSAR == undefined || editMode > 0 || searchMode == 2" ng-click="setActiveTab('utilizatori')" title="Asignare utilizatori">UTILIZATORI</a></li>
                }
            }
        </ul>
        <div id="myTabContent" class="tab-content" ng-cloak>
            <div class="tab-pane fade active in" id="detalii">
                @{
                    if (ViewContext.RouteData.Values["id"] == null)
                    {
                        Html.RenderAction("Search", "Dosare");
                    }
                    else
                    {
                        Html.RenderAction("Show", "Dosare", Request.Params["id"]);
                    }
                }
            </div>
            <div class="tab-pane fade" id="documente" ng-controller="DocumenteScanateController">
                @{
                    Html.RenderAction("Search", "DocumenteScanate");
                }
            </div>
            <div class="tab-pane fade" id="mesaje" ng-controller="MesajeController">
                <!--
                <div dynamic="html"></div>
                -->
                @{
                    Html.RenderAction("Index", "Mesaje");
                }
            </div>
            @if (ut != "Regular")
            {
                <div class="tab-pane fade" id="utilizatori" style="padding-top:15px;" ng-controller="DosareDashboardAdminAndSuperController">
                    @{
                        Html.RenderAction("GetDosareDashboardAdminAndSuper", "Dashboard");
                    }
                </div>
            }
        </div>
    </div>

    <div class="calitateSocietate" ng-show="activeTab == 'detalii'">
        <table>
            <tr>
                <td>
                    @{
                        string soc = ((SOCISA.Models.SocietateAsigurare)Session["SOCIETATE_ASIGURARE"]).DENUMIRE;
                    }
                    <span class="navbar-brand" a-disabled="true">Calitate @soc :</span>
                </td>
                <td>
                    <div class="radio">
                        <label class="label_casco">
                            <input name="optionsRadios" id="CASCO" value="CASCO" checked="" type="radio" ng-model="tmpCalitateSocietate" ng-disabled="editMode > 0">
                            Pagubit (CASCO)
                        </label>
                    </div>
                </td>
                <td>
                    <div class="radio">
                        <label class="label_rca">
                            <input name="optionsRadios" id="RCA" value="RCA" type="radio" ng-model="tmpCalitateSocietate" ng-disabled="editMode > 0">
                            Vinovat (RCA)
                        </label>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="infoNumarDosar" ng-show="activeTab != 'detalii'">
        <span class="navbar-brand" a-disabled="true">Numar Dosar CASCO: <b>{{DosarFiltru.Dosar.NR_DOSAR_CASCO}}</b></span>
    </div>
</div>