@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs">
        <li class="active"><a href="#detalii" data-toggle="tab" aria-expanded="true" id="lnkDosareDetalii">DETALII DOSAR</a></li>
        <li class=""><a href="#documente" data-toggle="tab" aria-expanded="false" id="lnkDocumenteScanateDetalii" class="disabled">DOCUMENTE</a></li>
        <li class=""><a href="#mesaje" data-toggle="tab" aria-expanded="false" id="lnkMesajeDetalii" class="disabled">MESAJE</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="detalii">
            @{
                Html.RenderAction("Search", "Dosare");
            }
        </div>
        <div class="tab-pane fade" id="documente" ng-controller="DocumenteScanateController">
            @{
                Html.RenderAction("Search", "DocumenteScanate");
            }
        </div>
        <div class="tab-pane fade" id="mesaje">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
        </div>
    </div>
}