@model SOCISA.Models.Action[]

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

@if (Model != null)
{
    @ActionsTreeView.GetActionTreeView(Model, Model[0].PARENT_ID)
}

<script>
    function toggleMenu(id) {
        document.getElementById(id).style.display = document.getElementById(id).style.display == 'none' ? 'block' : 'none';
    }
</script>

